.heading {
    height: 200px; 
    margin-bottom: 40px; 
    font-family: 'Raleway', sans-serif;
    font-size: 100px; 
    text-align: center; 
    line-height: 200px; 
    
}
#game-wrapper {
    display: flex; 
    justify-content: center; 
}
#display-bar { 
    height: 50px;  
    color: black; 
    font-size: 20px; 
    display: flex; 
    justify-content: space-between;
    font-family: 'Lato', sans-serif; 
}
#start-button {
    margin-left: 200px; 
    border: 3px solid black;
    width: 125px; 
    text-align: center; 
    line-height: 50px; 
    height: 50px; 
}
#score {
    margin-right: 200px; 
    border: 3px solid black;
    width: 125px; 
    text-align: center; 
    line-height: 50px; 
    height: 50px; 
}
#token1 {
    height: 150px;
    width: 150px; 
    background: palevioletred; 
    margin: 10px; 
    border-radius: 50%;
    border: 3px solid black;
}
#number1 {
    display: block; 
    width: 60px; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 25px; 
}
#token2 {
    height: 150px;
    width: 150px; 
    background: palegreen; 
    margin: 10px; 
    border-radius: 50%;
    border: 3px solid black;
}
#token3 {
    height: 150px;
    width: 150px; 
    background: lightblue; 
    margin: 10px;  
    border-radius: 50%;
    border: 3px solid black;
}
#token4 {
    height: 150px;
    width: 150px; 
    background: palegoldenrod; 
    margin: 10px; 
    border-radius: 50%;
    border: 3px solid black;
}
.footer {
    background-color: gray; 
    height: 30px; 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
}
.monochromatic {
    background-color: whitesmoke; 
    height: 20px; 
    width: 60px; 
}
.tri-di-chromatic {
    background-color: honeydew; 
    height: 20px; 
    width: 60px; 
}
.physical {
    background-color: sienna; 
    height:20px; 
    width: 60px; 
}
